.articles
    width: 100%
    height: auto
    overflow: scroll
    padding: 100px 30px
    display: flex
    justify-content: center
    flex-wrap: wrap
    background: 
        image: url('../img/projectsbg.jpg')
        size: cover
        position: center center
        attachment: fixed
        
        
        
    .box-wrapper
        width: 90%
        height: auto
        background: pink
        margin-bottom: 40px
        
        .box
            position: relative
            width: 310px
            padding: 10px
            margin: 5px
            background: #fafafa
            float: left
            cursor: pointer
            transition: all 300ms ease-in-out
            &:after
                clear: both
            img
                width: 100%
                height: auto
            &:hover
                transform: scale(1.04)
                z-index: 9