.intro
    width: 100vw
    height: 100vh
    background: 
        image: url('../img/introbg.jpg')
        size: cover
        position: center center
        attachment: fixed
    display: flex
    justify-content: center
    flex-direction: column
    
    
    .intro-logo
        width: 500px
        height: auto
        margin: 0 0 40px 10%
        img
            width: 100%
            heigth: 100%
            
    .intro-desc
        width: 500px
        height: auto
        margin-left: 12%
        color: #fff
        font-size: 16px

