<menubar></menubar>
<section class="about">
   
    <div class="about-intro">
    
        <h4>Creative Compact</h4>
        
        <p>Vi specialiserar oss på innovativa, kreativa lösningar och är inte rädda för att testa nya saker. Vår passion är att från en ide kunna skapa något vackert och funktionellt, digitalt.</p>
        
    </div>
    
    <div class="about-workers">
       
       <h3>Team</h3>
       
        <div class="row" ng-repeat=" worker in workers">
            <div class="col-xs-12 col-md-6 workers-box">
                <div class="worker-image">
                    <img src="{{ worker.image }}" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 workers-info">
                <div class="workers-name">
                    <span>{{ worker.name }}</span>
                    <p>{{ worker.title }}</p>
                </div>
                <div class="workers-desc">
                    <span>{{ worker.desc }}</span>
                </div>    
                <div class="workers-email">
                    <a href="mailto:{{ worker.email }}">
                    <i class="fa fa-envelope"></i><span>{{ worker.email }}</span></a>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="about-tools">
        
        <h3>Verktyg</h3>
        
        <div class="tools-desc-container">
            <i class="fa fa-heart-o"></i>
            <div class="tools-desc">
                Vi på Creative Compact är inte rädda för att testa nya teknilogier. Vi anpassar oss efter projektet men vi har förstås några favoriter när det gäller kod språk.
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="thumbnail">
                        <img src="img/angular.png" alt="...">
                        <div class="caption">
                            <h3>AngularJS</h3>
                            <p>Angular.JS är ett frontend ramverk för javascript. Med Angular kan du säga hej då till tråkiga statiska html-sidor och välkomna det dynamiska på webben.</p>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <div class="thumbnail">
                        <img src="img/ionic.png" alt="...">
                        <div class="caption">
                            <h3>Ionic</h3>
                            <p>Ionic är ett ramverk för att bygga mobila applikationer. Vi på Creative Compact älskar detta då det underlättar både i tid och ansträgning för att så snabbt som möjligt kunna leverera ut produkten till kund.</p>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <div class="thumbnail">
                        <img src="img/sass.png" alt="...">
                        <div class="caption">
                            <h3>Sass</h3>
                            <p>Sass står för "Syntactically Awesome Style Sheets" och är precis som det låter, Awesome!</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<footer></footer>