<!-- Navbar
 ============================================================ -->
<menubar></menubar>

<!-- Article section
 ============================================================ -->
<section class="article">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-5 centered clearfix">
            <img class="img-responsive" src="{{ articles.image }}" alt="">
        </div>
    </div>
    <div class="article-title">
        <div class="article-info-container">
            <h2>{{ articles.title }}</h2>
            <p style="margin: 30px 0">{{ articles.desc }}</p>
            <p><b>Webbsida:</b> <a href="{{ articles.site }}">{{ articles.site }}</a></p>
            <p><b>Författare:</b> {{ articles.author }}</p>
        </div>
    </div>

    <!-- Go back button
     ============================================================ -->
    <a ng-href="#/articles">
        <div class="proj-back-btn">
            <i class="fa fa-chevron-left"></i>
            tillbaka
        </div>
    </a>
</section>

<!-- Footer 
 ============================================================ -->
<footer></footer>
