<menubar></menubar>
<section class="article">
    
    <div class="article-title">
        
        <img src="{{ articles.image }}" alt="">
        
        <div class="article-info-container">
            <h2>{{ articles.title }}</h2>
            <p style="margin: 30px 0">{{ articles.desc }}</p>
            
            <p><b>Webbsida:</b> <a href="{{ articles.site }}">{{ articles.site }}</a></p>
            <p><b>Författare:</b> {{ articles.author }}</p>
        </div>
    </div>
    
    <a ng-href="#/articles">
            <div class="proj-back-btn">
                <i class="fa fa-chevron-left"></i>
                tillbaka
            </div>
        </a>
    
</section>
<footer></footer>