<menubar></menubar>
<section class="contact">

   <p>kontakta oss på</p>
   <a href="mailto:hello@creativecompact.se">hello@creativecompact.se</a>
   <p>eller fyll i formen</p>
    
    <div class="contact-container">
      <p style="color: #FF0000"> {{ errormsg }} </p>
      <form ng-submit="sendMessage()">
       <div class="contact-option">
        
            <input type="text" id="name" placeholder="Namn" ng-model="name">
            
        </div>
        
        <div class="contact-option">
        
            <input type="email" id="email" placeholder="email" ng-model="email">
            
        </div>
        
        
        <div class="contact-option">
        
            <textarea name="message" id="message" placeholder="meddelande" ng-model="message"></textarea>
            
        </div>
        
        <input type="submit" value="Skicka" class="send">
        
        </form>
        
    </div>
    
</section>
    <div class="message-sucess">
        <i class="fa fa-envelope"></i>
        <p>Tack för ditt meddelande!</p> 
    </div>
<footer></footer>