<menubar></menubar>
<div ng-init="init()" id="map">
           
</div>
<section class="contact">
    
    <div class="row">
        <div class="col-sm-8 centered clearfix">
            <h3>Creative Compact is nestled in a lovely town called <b>Karlshamn</b>, just 1 hour outside of <b>Malmö</b>. We get the coziness of the sea yet are just a train ride from diversity, meetings and opportunities. We love it that way!</h3>
            <div class="row">
              
               <h4>Wanna work with us, drop us a line!</h4>
                <h2>
                    <a href="mailto:hello@creativecompact.se">hello@creativecompact.se</a>
                </h2>
            </div>
        </div>
            
    </div>

</section>
    <div class="message-sucess">
        <i class="fa fa-envelope"></i>
        <p>Tack för ditt meddelande!</p> 
    </div>
<footer></footer>