<menubar></menubar>
<div id="intro">
    <div class="intro-container container-fluid">
        <div class="row intro-logo row-fluid">
            <div class="col-sm-12 centering text-center" style="text-align: center">
                <img src="img/logo.png" alt="">
            </div>
            <div class="col-sm-10 centered clearfix entering text-center intro-title">
                <h4>An interactive webagency based in Karlshamn, Sweden!</h4>
            </div>
        </div>
    </div>

    <div id="scroll-down">
        <i class="fa fa-chevron-down"></i>
    </div>
</div>



<section id="simple-about">

    <div class="row">
        <div class="col-sm-12 centered clearfix">
            <h2>What we do!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 centered clearfix">
            <div class="col-sm-4">
                <div class="about-us-box">
                    <div class="row">
                        <div class="about-icon"><i class="fa fa-desktop"></i></div>
                    </div>
                    <div class="row">
                        <div class="about-title">
                            <h2>Build a successful online presence</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-us-desc">We can help you improve an existing website or build you a user-friendly new website. We can also assist you with your online marketing and search engine optimization.</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about-us-box">
                    <div class="row">
                        <div class="about-icon"><i class="fa fa-leaf"></i></div>
                    </div>
                    <div class="row">
                        <div class="about-title">
                            <h2>Design an easy to use website for all devices</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-us-desc">By sketching out the information architecture, exploring visual design and developing interactive prototypes, We ensure your responsive website looks great and functions perfectly on all devices.</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about-us-box">
                    <div class="row">
                        <div class="about-icon"><i class="fa fa-code"></i></div>
                    </div>
                    <div class="row">
                        <div class="about-title">
                            <h2>Develop a custom web application </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-us-desc">For each project, We develop a solutiontailored to your specific needs. By using the latest web technologies, We can deliver you an easy to use and efficient solution that will help you achieve your goals.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contact-cta">
    <div class="row">
        <div class="col-sm-10 centered clearfix">
            <div class="row">
                <h2>Building a website has never been so fun.</h2>
            </div>
            <div class="row">
                <a href="#contact"><span class="cta-white">Get started</span></a>
            </div>
        </div>
    </div>
</section>

<section id="recent-projects" class="last-section">
    <div class="row">
        <div class="col-sm-10 centered clearfix">
            <h2>Some of our recent projects</h2>


        </div>

    </div>
    <div class="recent-projects">


        <div ng-repeat="project in projects | limitTo: 3" class="project-home">
            <div class="project-img">
                <img src="{{ project.thumb }}" alt="">
            </div>
            <a ng-href="#/projects/project/{{$index}}">
                <div class="comp-box">
                    <div class="comp-title">{{ project.company }}</div>
                    <span>{{ project.genre }}</span>
                </div>
            </a>
            <!--
            <div class="overlay">
                <h4>{{ project.title }}</h4>
                <p>{{ project.desc }}</p>
                <div class="read-more">
                    <i>
                        <img src="www/img/icons/arrow.png" alt="">
                    </i>
                </div>
            </div>
-->
        </div>

        <a class="cta-color" ng-href="#/projects">
            <span>See all</span>
        </a>

    </div>
</section>

<section class="referal" style="min-height: 400px">
    <h1>Referrals</h1>
    <div class="row">
        <div class="col-sm-10 centered">
            <div class="col-md-4" style="margin-bottom: 30px">
                <div class="referal-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="referal-logo">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Albin Karlsson</h3>
                        <span class="referal-title">- Brädspelskaffét</span>
                        <div class="col-md-12 referal-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint officia blanditiis eaque recusandae, exercitationem nihil iusto dignissimos accusantium a assumenda?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 30px">
                <div class="referal-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="referal-logo">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/marcosmoralez/128.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Aziz hukkun</h3>
                        <span class="referal-title">- Karlskrona hockey</span>
                        <div class="col-md-12 referal-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint officia blanditiis eaque recusandae, exercitationem nihil iusto dignissimos accusantium a assumenda?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 30px">
                <div class="referal-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="referal-logo">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/felipebsb/128.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Fredrik Lindström</h3>
                        <span class="referal-title">- Live Entertainment</span>
                        <div class="col-md-12 referal-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint officia blanditiis eaque recusandae, exercitationem nihil iusto dignissimos accusantium a assumenda?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer></footer>