
<menubar></menubar>

<section class="project">

 
    <h2>{{ projects.title }}</h2>
    
    <div class="proj-container">
        <div class="col-xs-12 col-md-3 proj-content" style="padding: 50px">
            <div class="proj-info">
                <span>Genre: </span><p>{{ projects.genre }}</p>
            </div>
            <div class="proj-info">
                <span>Tools: </span><p>{{ projects.tools }}</p>
            </div>
            <div class="proj-info">
                <span>Date: </span><p>{{ projects.date }}</p>
            </div>
            <div class="proj-info">
                <span>Website: </span><p><a ng-href="{{ projects.site }}" target="_blank">{{ projects.site }}</a></p>
            </div>
            <div class="proj-info" style="margin-top: 30px">
                <p style="font-weight: 300">{{ projects.desc }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-9 proj-images">
            <div class="img-container" ng-repeat=" img in projects.images">
                <img src="{{ img }}" alt="">
            </div>
        </div>
    </div>
    <a ng-href="#/projects" style="margin-top: 60px">
            <div class="cta-color">
                <i class="fa fa-chevron-left"></i>
                Go back
            </div>
        </a>
    
</section>
<footer></footer>