<div class="menu-ham">
    <span class="ham-one"></span>
    <span class="ham-two"></span>
    <span class="ham-three"></span>
</div>
<div class="menu">
    <div class="logo-wrap">
       <a ng-href="#/">
           <div class="logo">
               <img src="/www/img/roundlogo.png" alt="">
           </div>
        </a>
    </div>
    
    <div class="btn-wrapp">
         <a ng-href="#/articles">
            <div class="menu-btn">
                <div class="btn-effect"></div>
                <span>artiklar</span>
            </div>
        </a>
        <a ng-href="#/projects">
            <div class="menu-btn">
                <div class="btn-effect"></div>
                <span>projekt</span>
            </div>
        </a>
         <a ng-href="#/about">
            <div class="menu-btn">
                <div class="btn-effect"></div>
                <span>om oss</span>
            </div>
        </a>
         <a ng-href="#/contact">
            <div class="menu-btn">
                <div class="btn-effect"></div>
                <span>kontakt</span>
            </div>
        </a>
    </div>
    
    <div class="menu-footer">
        
        <a href="mailto:hello@creativecompact.se">
            <h2>hello@creativecompact.se</h2>
        </a>
        
        <div class="social-icons">
           <a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a>
           <a target="_blank" href="https://github.com/piilzner"><i class="fa fa-github-square"></i></a>
           <a target="_blank" href="https://www.behance.net/piilzner"><i class="fa fa-behance-square"></i></a>
           <a target="_blank" href="https://www.instagram.com/creativecompact.se"><i class="fa fa-instagram"></i></a>
        </div>
        
    </div>
</div>


