doctype html
html(ng-app="app" lang="en")
head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title= title
    link(rel="shortcut icon" href="/favicon.ico")
    
    // CSS Lib
    link(href="lib/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="lib/css/font-awesome.min.css")
    
    // CSS 
    link(href="src/style.css" rel="stylesheet")
body
      //   _____                _   _              _____                                 _   
      //  / ____|              | | (_)            / ____|                               | |  
      // | |     _ __ ___  __ _| |_ ___   _____  | |     ___  _ __ ___  _ __   __ _  ___| |_ 
      // | |    | '__/ _ \/ _` | __| \ \ / / _ \ | |    / _ \| '_ ` _ \| '_ \ / _` |/ __| __|
      // | |____| | |  __/ (_| | |_| |\ V /  __/ | |___| (_) | | | | | | |_) | (_| | (__| |_ 
      //  \_____|_|  \___|\__,_|\__|_| \_/ \___|  \_____\___/|_| |_| |_| .__/ \__,_|\___|\__|
      //                                                               | |                   
      //                                                               |_|
                                                                                    
   div(ng-view)     
     
    // JS Lib
    script(src="lib/js/jquery-2.1.4.min.js")
    script(src="lib/js/bootstrap.min.js")
    script(src="lib/js/angular.min.js")
    script(src="lib/js/angular-route.min.js")
    script(src="lib/js/masonry.bundle.js")
    
    // JS
    script(src="src/main.js")





