



$blue: #17a19f




section
    width: 100vw
    height: auto
    

    
@mixin flex($type)
    display: flex 
    justify-content: $type 
    align-items: center
    
    
@mixin txt($size)
    font:
        family: 'proxima'
        size: $size
        

