<span class="line"></span>

<!-- Footer section
 ============================================================ -->
<div class="footer">

  <span class="footer-title">Creative Compact Webagency</span>
  <div class="footer-info">
      <p><b>Address:</b> Hunnemaravägen 3, Karlshamn</p>
      <p><b>Phone:</b> +46762632033</p>
      <p><b>Mail:</b> <a href="mailto:hello@creativecompact.se">hello@creativecompact.se</a></p>
  </div>

  <div class="footer-links">
    <div class="footer-social">
      <a target="_blank" href="https://www.facebook.com/creativecompact/">
        <i class="fa fa-facebook-square"></i>
      </a>
    </div>
    <div class="footer-social">
       <a target="_blank" href="https://github.com/magralol">
          <i class="fa fa-github-square"></i>
       </a>
    </div>
    <div class="footer-social">
       <a target="_blank" href="https://www.behance.net/piilzner">
          <i class="fa fa-behance-square"></i>
       </a>
    </div>
    <div class="footer-social">
       <a target="_blank" href="https://www.instagram.com/creativecompact.se">
          <i class="fa fa-instagram"></i>
       </a>
    </div>
  </div>
  
</div>
