<menubar></menubar>
<section class="about">
    
    om oss
    
</section>
<section class="workers">
    
    <div class="workers-title">
        team
    </div>
    
    <div class="profile-wrap">
        <div class="profile-box">
        
            <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xpl1/v/t1.0-9/1916726_1390413882296_2038716_n.jpg?oh=2920ffee15fc953ec0facb141b52a91b&oe=56AD1A21" alt="">
            
            <div class="profile-overlay"> 
                <p>Filip</p> 
                <span>#Console ninja</span>
            </div>
            
        </div>
        <div class="profile-box">
            <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xtp1/v/t34.0-12/12285695_10153124512281916_636249271_n.jpg?oh=1c8d451dedf81b31ddc04e054abae706&oe=565B8B4B" alt="">
            
            <div class="profile-overlay">  
                <p>Oskar</p> 
                <span>#Management expert</span>
            </div>
            
        </div>
        <div class="profile-box">
            <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xal1/t31.0-8/12039161_10153051432396916_857836829138815710_o.jpg" alt="">
            
            <div class="profile-overlay"> 
                 <p>Nils</p> 
                 <span>#Css guru</span>
                 <span><i class="fa fa-envelope-o"></i>nils@creativecompact.se</span>
             </div>
            
        </div>
    </div>
    
</section>
<section class="partners">
    
    partners
    
</section>