<menubar></menubar>
<div class="intro">
    <div class="intro-logo">
        <img src="www/img/logo1.png" alt="">
    </div>
    <hr>
    <div class="intro-title">
       <h2>Vi är en modern och nytänkade...</h2>
    </div>
    <div class="intro-desc">
        <span>
           ...webbyrå som är stationerad i Karlshamn, Sverige. Vi arbetar främst med webb & applikationsutveckling. 
        </span>
    </div>
    
   
        <a ng-href="#/contact">
            <div class="contact-cta">
                <div class="btn-effect"></div>
                <span>kontakta oss</span>
            </div>
        </a>
   
    
</div>

