@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:400,100,300,500);
@font-face {
  font-family: "proxima";
  src: url("../lib/fonts/ProximaNova-Regular.otf") format("OpenType"); }

.centered {
  margin: 0 auto;
  float: none; }

.clearfix {
  clear: both; }

section {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 60px 0; }

.last-section {
  margin-bottom: 160px; }
  @media screen and (max-width: 500px) {
    .last-section {
      margin-bottom: 300px; } }

.cta-white {
  font-family: 'Roboto';
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  background: none;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer; }
  .cta-white:hover {
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0.3); }

.cta-color {
  font-family: 'Roboto';
  font-size: 18px;
  color: #17a19f;
  padding: 10px 20px;
  border: 2px solid #17a19f;
  background: none;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer; }
  .cta-color:hover {
    padding: 10px 40px;
    background: rgba(23, 161, 159, 0.3);
    color: #17a19f; }

.box {
  padding: 0 !important;
  border: none !important; }

.comp-box {
  display: none; }

.menubar-top {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999; }
  @media screen and (max-width: 800px) {
    .menubar-top {
      display: none; } }
  .menubar-top .topbar {
    text-align: center;
    height: 40px; }
    .menubar-top .topbar .links {
      color: #fff;
      line-height: 3.5;
      height: 100%;
      font-family: 'Roboto';
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase; }
      .menubar-top .topbar .links:hover {
        color: #17a19f;
        background: rgba(255, 255, 255, 0.1); }
    .menubar-top .topbar .top-logo {
      padding-top: 5px; }
      .menubar-top .topbar .top-logo img {
        width: 70px;
        height: auto; }

.menu-ham {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1999;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 800px) {
    .menu-ham {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .menu-ham .ham-one, .menu-ham .ham-two, .menu-ham .ham-three {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #17a19f;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .menu-ham .ham-two {
    width: 70%; }

.menu {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  z-index: 999;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .menu .logo-wrap {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px; }
    .menu .logo-wrap .logo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0 2px 2px rgba(54, 54, 54, 0.3); }
      .menu .logo-wrap .logo img {
        width: 100%;
        height: 100%; }
  .menu .btn-wrapp {
    width: 100%;
    height: auto;
    padding: 40px; }
    .menu .btn-wrapp a {
      text-decoration: none; }
    .menu .btn-wrapp .menu-btn {
      position: relative;
      width: 100%;
      height: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #2b2b2b;
      border-left: 1px solid #2b2b2b;
      border-right: 1px solid #2b2b2b;
      box-sizing: border-box;
      overflow: hidden;
      cursor: pointer;
      margin-bottom: 20px; }
      .menu .btn-wrapp .menu-btn .btn-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        z-index: 1;
        box-sizing: border-box;
        border: 0px solid #2b2b2b; }
      .menu .btn-wrapp .menu-btn span {
        position: relative;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        color: #2b2b2b;
        z-index: 9;
        letter-spacing: 2px; }
    .menu .btn-wrapp .menu-btn:hover .btn-effect {
      border: 50px solid #2b2b2b; }
    .menu .btn-wrapp .menu-btn:hover span {
      color: #fff; }
  .menu .menu-footer {
    position: relative;
    width: 100%;
    height: 150px;
    background: #2b2b2b;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'proxima';
    font-size: 14px; }
    .menu .menu-footer a {
      text-decoration: none; }
    .menu .menu-footer h2 {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      color: #17a19f;
      font-family: 'roboto';
      font-weight: 100;
      font-size: 30px; }
      @media screen and (max-width: 380px) {
        .menu .menu-footer h2 {
          font-size: 22px; } }
    .menu .menu-footer .social-icons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 60px;
      margin: 0 15%;
      padding: 0 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .menu .menu-footer .social-icons a {
        text-decoration: none;
        color: #fff; }
      .menu .menu-footer .social-icons i {
        font-size: 20px;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .menu .menu-footer .social-icons i:hover {
          -webkit-transform: scale(1.4);
                  transform: scale(1.4);
          color: #17a19f; }

@media screen and (max-width: 500px) {
  .menu {
    width: 100%; }
    .menu .btn-wrapp {
      padding: 5px 20px; } }

.project-home {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 10px 80px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  .project-home .project-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
    .project-home .project-img img {
      width: 100%;
      height: 100%; }
  .project-home .comp-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    opacity: 0; }
    .project-home .comp-box .comp-title {
      font-family: 'Roboto';
      font-size: 42px;
      font-weight: 500; }
      @media screen and (max-width: 800px) {
        .project-home .comp-box .comp-title {
          font-size: 20px; } }
    .project-home .comp-box span {
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 200;
      color: #17a19f; }
  @media screen and (max-width: 800px) {
    .project-home {
      width: 500px;
      height: 250px; } }
  @media screen and (max-width: 500px) {
    .project-home {
      width: 100%;
      height: 250px; } }

.project-container {
  position: relative;
  width: 550px;
  height: 350px;
  margin: 0 25px 50px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  @media screen and (max-width: 615px) {
    .project-container {
      margin: 0 0 50px; } }
  @media screen and (max-width: 500px) {
    .project-container {
      width: 320px;
      height: 250px; } }
  .project-container .project-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
    .project-container .project-img img {
      width: 100%;
      height: 100%; }
  .project-container .comp-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    padding: 10px;
    opacity: 0; }
    .project-container .comp-box .comp-title {
      font-family: 'Roboto';
      font-size: 34px;
      font-weight: 500; }
      @media screen and (max-width: 500px) {
        .project-container .comp-box .comp-title {
          font-size: 18px; } }
    .project-container .comp-box span {
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 200;
      color: #17a19f; }

.project-home:hover .project-img {
  -webkit-transform: scale(1);
          transform: scale(1); }

.project-home:hover .comp-box {
  opacity: 1; }

.project-container:hover .project-img {
  -webkit-transform: scale(1);
          transform: scale(1); }

.project-container:hover .comp-box {
  opacity: 1; }

.line {
  position: fixed;
  bottom: 140px;
  z-index: -1;
  width: 80%;
  margin: 0 10%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 520px) {
    .line {
      bottom: 170px; } }

.footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  background: #fff;
  width: 100%;
  height: auto;
  color: #fff;
  padding: 20px 10% 50px; }
  @media screen and (max-width: 875px) {
    .footer {
      padding-bottom: 0; } }
  .footer .footer-title {
    width: 100%;
    text-align: left;
    color: #2b2b2b;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px; }
  .footer .footer-info {
    width: auto;
    color: #2b2b2b; }
    .footer .footer-info p {
      display: inline-block;
      font-family: 'roboto';
      font-size: 14px;
      font-weight: 300;
      margin-right: 20px; }
      .footer .footer-info p a {
        color: #2b2b2b;
        text-decoration: none; }
      @media screen and (max-width: 985px) {
        .footer .footer-info p {
          font-size: 12px; } }
      @media screen and (max-width: 875px) {
        .footer .footer-info p {
          display: block; } }
  .footer .footer-links {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -23px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto; }
    @media screen and (max-width: 875px) {
      .footer .footer-links {
        margin-top: -10px; } }
    @media screen and (max-width: 520px) {
      .footer .footer-links {
        position: relative;
        margin: 20px 10% 0;
        width: 80%; } }
    .footer .footer-links .footer-social {
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .footer .footer-links .footer-social a {
        text-decoration: none; }
        .footer .footer-links .footer-social a i {
          font-size: 26px;
          color: #2b2b2b; }
          .footer .footer-links .footer-social a i:hover {
            color: #17a19f; }

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0; }

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.centering {
  float: none;
  margin: 0 auto; }

#intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/introbg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  #intro .intro-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    color: #fff;
    z-index: 99; }
    #intro .intro-container .intro-logo {
      margin: 0 auto; }
      #intro .intro-container .intro-logo img {
        width: 300px;
        heigth: auto; }
    #intro .intro-container .intro-title {
      height: auto;
      color: #fff;
      padding: 10px;
      text-align: center; }
      #intro .intro-container .intro-title h4 {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase; }
  #intro #scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999; }
    #intro #scroll-down:hover {
      bottom: 10px; }

#website-offer {
  background-image: url("../img/startup-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  text-align: center;
  color: #fff; }
  #website-offer a {
    text-decoration: none;
    margin-top: 30px; }
  #website-offer h1, #website-offer h4 {
    text-transform: uppercase; }
  #website-offer h4 {
    font-size: 10em;
    font-weight: bold;
    color: #17a19f; }

#simple-about {
  height: auto;
  background: #fff;
  z-index: 1; }
  @media screen and (max-width: 520px) {
    #simple-about {
      margin-bottom: 185px; } }
  #simple-about h2 {
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: bold;
    text-align: center; }
  #simple-about .about-us-box {
    margin: 50px 0;
    text-align: center; }
    #simple-about .about-us-box i {
      font-size: 62px;
      margin: 30px;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
    #simple-about .about-us-box .about-title {
      padding: 0 20px; }
      #simple-about .about-us-box .about-title h2 {
        margin: 10px 0;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 300; }
    #simple-about .about-us-box .about-us-desc {
      padding: 5px 20px; }

#contact-cta {
  background-image: url("../img/cta-pattern.jpg");
  background-size: cover;
  padding: 80px 0;
  text-align: center; }
  #contact-cta h2 {
    font-size: 42px;
    padding: 20px;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }
  #contact-cta a {
    text-decoration: none; }

#recent-projects h2 {
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px; }

#recent-projects .recent-projects {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  #recent-projects .recent-projects .proj-title {
    font-family: 'proxima';
    font-size: 14px;
    text-transform: uppercase;
    color: #17a19f; }
  #recent-projects .recent-projects .proj-box {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #000;
    color: #000;
    margin-bottom: 50px; }

#recent-projects a {
  text-decoration: none; }

.referal {
  padding: 50px 0;
  margin-bottom: 140px;
  background-image: url("../img/cta-pattern.jpg");
  background-position: center center;
  background-attachment: fixed; }
  .referal h1 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    margin: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }
  .referal h3 {
    text-align: center;
    color: #222;
    margin: 25px 0 15px;
    letter-spacing: 0;
    font-family: 'Roboto';
    font-size: 20px; }
  .referal .referal-card {
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px; }
    .referal .referal-card .referal-logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); }
      .referal .referal-card .referal-logo img {
        width: 100%;
        height: 100%; }
    .referal .referal-card .referal-title {
      font-family: 'Roboto';
      font-size: 12px;
      display: block;
      text-align: center;
      margin: -10px 0 10px; }
    .referal .referal-card .referal-desc {
      color: #222;
      text-align: center;
      font-family: 'Roboto';
      font-size: 14px; }

.articles {
  min-height: 100vh;
  overflow: scroll;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 175px;
  background: #fff; }
  .articles h2 {
    font-family: 'proxima';
    font-size: 52px;
    margin: 30px 0;
    color: #2b2b2b; }
  .articles h3 {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 100;
    color: #2b2b2b; }
    @media screen and (max-width: 465px) {
      .articles h3 {
        width: 100%;
        padding: 10px; } }

.genre-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .genre-wrapper .genre-btn {
    padding: 10px 20px;
    border: 1px solid #2b2b2b;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19); }
    .genre-wrapper .genre-btn:hover {
      background: #2b2b2b;
      color: #fff; }
    .genre-wrapper .genre-btn:nth-last-child(1) {
      margin-right: 0; }
    @media screen and (max-width: 415px) {
      .genre-wrapper .genre-btn {
        padding: 5px 10px;
        margin-right: 5px; } }
  .genre-wrapper .active {
    background: #2b2b2b;
    color: #fff; }
  .genre-wrapper .box-wrapper {
    width: 80%;
    height: auto;
    margin: 30px 10%; }
    .genre-wrapper .box-wrapper a {
      text-decoration: none;
      color: #2b2b2b; }
    .genre-wrapper .box-wrapper .box {
      position: relative;
      width: 350px;
      padding: 10px;
      margin: 5px;
      background: #fafafa;
      border: 1px solid #ccc;
      border-radius: 5px;
      float: left;
      cursor: pointer;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
      .genre-wrapper .box-wrapper .box:after {
        clear: both; }
      .genre-wrapper .box-wrapper .box img {
        width: 100%;
        height: auto; }
      .genre-wrapper .box-wrapper .box span {
        color: #9f9f9f; }
      .genre-wrapper .box-wrapper .box .info-bar span {
        margin-right: 10px;
        color: #17a19f; }
      .genre-wrapper .box-wrapper .box:hover {
        -webkit-transform: scale(1.02);
                transform: scale(1.02);
        z-index: 9; }
  @media screen and (max-width: 520px) {
    .genre-wrapper {
      margin-bottom: 170px; } }
  @media screen and (max-width: 400px) {
    .genre-wrapper .box-wrapper {
      width: 98%;
      margin: 30px 1%; }
      .genre-wrapper .box-wrapper .box {
        width: 300px; } }

.article {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  margin-bottom: 175px; }
  .article .article-title {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .article .article-title img {
      width: 100%;
      height: auto;
      margin: 0 15%; }
    .article .article-title p {
      font-size: 18px; }
  .article a {
    text-decoration: none; }
    .article a .proj-back-btn {
      margin-top: 100px;
      padding: 20px 50px;
      color: #17a19f;
      border: 1px solid #17a19f;
      border-radius: 20px;
      font-family: 'roboto';
      font-size: 18px;
      font-weight: 100;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .article a .proj-back-btn i {
        margin-right: 10px; }
      .article a .proj-back-btn:hover {
        background: #17a19f;
        color: #fff; }

.projects {
  background: #222;
  color: #fff;
  padding-bottom: 80px;
  margin-bottom: 140px; }
  .projects h2 {
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: bold;
    text-align: center; }
  .projects h3 {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 0; }
  .projects .genre-btn {
    padding: 10px 20px;
    border: 2px solid #2b2b2b;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19); }
    .projects .genre-btn:hover {
      background: #17a19f;
      color: #fff; }
    .projects .genre-btn:nth-last-child(1) {
      margin-right: 0; }
  .projects .active {
    background: #17a19f;
    color: #fff; }
  .projects .project-box {
    position: relative;
    padding: 0;
    overflow: hidden; }
    .projects .project-box .project-img {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .projects .project-box .project-img img {
        width: 100%;
        height: auto; }
    .projects .project-box .project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      color: #fff;
      padding: 10px;
      opacity: 0; }
      .projects .project-box .project-overlay .overlay-title {
        font-family: 'Roboto';
        font-size: 38px;
        font-weight: 500;
        text-align: center; }
      .projects .project-box .project-overlay span {
        font-family: 'Roboto';
        font-size: 20px;
        color: #17a19f; }
  .projects .project-wrap {
    width: 90%;
    margin: 0 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media screen and (max-width: 1435px) {
      .projects .project-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .projects a {
    text-decoration: none;
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 615px) {
    .projects {
      padding: 10px 0 100px; } }
  @media screen and (max-width: 520px) {
    .projects {
      margin-bottom: 170px; } }

.project-box:hover .project-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.project-box:hover .project-overlay {
  opacity: 1; }

.project-container:hover .project-img {
  -webkit-transform: scale(1);
          transform: scale(1); }

.project-container:hover .comp-box {
  opacity: 1; }

.project {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  margin-bottom: 175px; }
  .project .project-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden; }
    .project .project-img img {
      width: 100%;
      height: 100%; }
  .project h2 {
    color: #2b2b2b;
    margin: 80px 0;
    font-family: 'roboto';
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; }
  .project .proj-container {
    position: relative; }
    .project .proj-container .proj-content, .project .proj-container .proj-images {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .project .proj-container .proj-content img, .project .proj-container .proj-images img {
        width: 100%;
        height: auto; }
      .project .proj-container .proj-content .proj-title, .project .proj-container .proj-images .proj-title {
        font-family: 'roboto';
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px; }
        .project .proj-container .proj-content .proj-title p, .project .proj-container .proj-images .proj-title p {
          font-size: 22px;
          font-weight: 100;
          display: inline-block; }
      .project .proj-container .proj-content .proj-info, .project .proj-container .proj-images .proj-info {
        font-family: 'roboto';
        font-size: 16px;
        font-weight: 600; }
        .project .proj-container .proj-content .proj-info p, .project .proj-container .proj-images .proj-info p {
          font-size: 16px;
          font-weight: 100;
          display: inline-block;
          margin-left: 5px; }
  .project a {
    text-decoration: none; }
    .project a .proj-back-btn {
      margin-top: 100px;
      padding: 20px 50px;
      color: #17a19f;
      border: 1px solid #17a19f;
      border-radius: 20px;
      font-family: 'roboto';
      font-size: 18px;
      font-weight: 100;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .project a .proj-back-btn i {
        margin-right: 10px; }
      .project a .proj-back-btn:hover {
        background: #17a19f;
        color: #fff; }

.box-wrapper {
  width: 100%;
  margin: 0 auto; }
  .box-wrapper a {
    text-decoration: none;
    color: #2b2b2b; }
  .box-wrapper .box {
    position: relative;
    width: 350px;
    padding: 10px;
    margin: 5px;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .box-wrapper .box:after {
      clear: both; }
    .box-wrapper .box img {
      width: 100%;
      height: auto; }
    .box-wrapper .box span {
      color: #9f9f9f; }
    .box-wrapper .box .info-bar span {
      margin-right: 10px;
      color: #17a19f; }
    .box-wrapper .box:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
      z-index: 9; }

@media screen and (max-width: 520px) {
  margin-bottom: 170px; }

@media screen and (max-width: 400px) {
  .box-wrapper {
    width: 98%;
    margin: 30px 1%; }
    .box-wrapper .box {
      width: 300px; } }

h3 {
  width: 100%;
  text-align: center;
  font-family: 'roboto';
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 30px 0 100px; }

.about .about-intro {
  width: 100%;
  height: auto;
  background: #fff; }

.about .sidebar {
  padding: 30px;
  text-align: center; }
  .about .sidebar h2 {
    font-family: 'Roboto';
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px; }
  .about .sidebar p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5; }

.team {
  padding: 30px; }
  .team h2 {
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 60px; }
  .team .thumbnail {
    border: none;
    text-align: center; }
    .team .thumbnail .avatar-img-thumb {
      display: block;
      margin: 0 auto 30px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden; }
      .team .thumbnail .avatar-img-thumb img {
        -webkit-filter: grayscale(100%);
        width: 100%;
        height: 100%; }
        .team .thumbnail .avatar-img-thumb img:hover {
          -webkit-filter: grayscale(0); }
    .team .thumbnail h3 {
      font-family: 'Roboto';
      font-size: 24px;
      letter-spacing: 0;
      margin: 0; }
    .team .thumbnail h4 {
      font-family: 'Roboto';
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center; }
    .team .thumbnail a {
      color: #17a19f;
      text-decoration: none;
      text-align: center;
      display: block; }
      .team .thumbnail a:hover {
        color: #222; }
      .team .thumbnail a i {
        margin-right: 10px; }

.about-tools {
  text-align: center;
  margin-bottom: 160px; }
  .about-tools .tools-bg {
    padding: 100px 30px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 150px !important;
    background-image: url("../img/cta-pattern.jpg");
    background-position: center center;
    background-attachment: fixed; }
    .about-tools .tools-bg i {
      font-size: 70px;
      margin-bottom: 30px; }
  .about-tools .tools-desc {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 100; }
  .about-tools h3 {
    font-family: 'Roboto';
    font-size: 42px;
    margin: 20px 0;
    padding: 0;
    letter-spacing: 0; }
  .about-tools .container {
    margin: 50px auto; }
    .about-tools .container .row .thumbnail {
      padding-top: 15px;
      border: none;
      width: 100%;
      height: auto; }
      .about-tools .container .row .thumbnail h3 {
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 600; }
      .about-tools .container .row .thumbnail p {
        text-align: center;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 300; }

#map {
  width: 100%;
  height: 350px;
  margin-top: 40px;
  padding: 0; }

.contact {
  margin-bottom: 160px;
  padding: 30px 30px 140px; }
  @media screen and (max-width: 420px) {
    .contact {
      margin-bottom: 200px; } }
  .contact h3 {
    font-family: 'Roboto';
    font-size: 22px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.6; }
  .contact h2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 52px;
    font-weight: 300; }
    .contact h2 a {
      color: #17a19f;
      text-decoration: none; }
      .contact h2 a:hover {
        color: #222; }
    @media screen and (max-width: 680px) {
      .contact h2 {
        font-family: 'Roboto';
        font-size: 32px; } }
    @media screen and (max-width: 420px) {
      .contact h2 {
        font-family: 'Roboto';
        font-size: 22px; } }
  .contact h4 {
    font-family: 'Roboto';
    font-size: 32px;
    text-align: center; }

.message-sucess {
  position: absolute;
  bottom: 0;
  right: -320px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #17a19f;
  padding: 10px 0;
  z-index: 9;
  color: #fff; }
  .message-sucess i {
    font-size: 24px;
    margin-bottom: 10px; }
  .message-sucess p {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    font-family: 'roboto'; }

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("/img/404/404small.jpg");
  background-size: cover;
  background-position: bottom center; }
  .not-found .not-found-container {
    width: 100%;
    height: 100vh;
    z-index: 9; }
    .not-found .not-found-container img {
      width: 100%;
      height: 100%; }
    @media screen and (max-width: 780px) {
      .not-found .not-found-container {
        display: none; } }
  .not-found .not-found-small {
    width: 100%;
    height: 100vh;
    z-index: 5; }
    .not-found .not-found-small img {
      width: 100%;
      height: 100%; }
    @media screen and (max-width: 510px) {
      .not-found .not-found-small {
        display: none; } }

body {
  overflow-x: hidden;
  font-family: 'roboto';
  font-weight: 300; }

::-webkit-scrollbar {
  display: none; }

.centered {
  margin: 0 auto;
  float: none; }

.clearfix {
  clear: both; }
