//Imports

//Views
@import 'views/_home'
@import 'views/_articles'
@import 'views/_projects'
@import 'views/_about'
@import 'views/_contact'

//Partial
@import 'views/partial/_menubar'

// Tools
@import 'tools/_fonts'
@import 'tools/_vars'



body
    overflow-x: hidden
    font-family: 'proxima'
::-webkit-scrollbar 
    display: none
    